<section class="space-y-4">
  <app-list
    [tableHeaders]="tableHeaders"
    [tableData]="fees"
    [searchPlaceholder]="searchPlaceholder"
    [addButtonLabel]="'Add Fees'"
    [moduleLabel]="'fees records'"
    [loading]="loading"
    [page]="page"
    [totalPages]="totalPages"
    [total]="total"
    [limit]="limit"
    [limitOptions]="pageSizeOptions"
    (addClicked)="openAddModal()"
    (editClicked)="openEditModal($event)"
    (deleteClicked)="onDelete($event)"
    (searchChange)="onSearchChange($event)"
    (prevPageClicked)="prevPage()"
    (nextPageClicked)="nextPage()"
    (limitChange)="onLimitChange($event)"
  ></app-list>
</section>
