<section class="space-y-4">
  <app-list
    [tableHeaders]="tableHeaders"
    [tableData]="subjects"
    [searchPlaceholder]="searchPlaceholder"
    [moduleLabel]="'subjects'"
    [loading]="loading"
    [page]="page"
    [totalPages]="totalPages"
    [total]="total"
    [limit]="limit"
    [limitOptions]="pageSizeOptions"
    (addClicked)="openAddModal()"
    (editClicked)="openEditModal($event)"
    (deleteClicked)="onDelete($event)"
    (searchChange)="onSearchChange($event)"
    (prevPageClicked)="prevPage()"
    (nextPageClicked)="nextPage()"
    (limitChange)="onLimitChange($event)"
    [showViewAction]="false"
    [showEditAction]="false"
  ></app-list>
</section>
